@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.systemTable{
  top: 20%;
  left: 30px;
  position: fixed;
 }
 .systemTable2{
  top: 17.5%;
  left: 400px;
  position: fixed;
 }
 .systemTable3{
  top: 17.5%;
  left: 690px;
  position: fixed;
 }
.inputTable{
  color:black;
  width: auto;
  border: none;
  letter-spacing: .8px;
}
.right-table{
  top:29.3%;
  right: 15%;
  position: fixed;
}
/* index.html styles*/
:root{
  --fontcolor: white;
}
.login{
background-image: url("../img/background-login.jpg");
background-size: cover;
}

.form-group{
  color:var(--fontcolor);
}
.bg-gray{
  background-color:#A3AAAE!important
}

a.bg-gray:focus,a.bg-gray:hover,button.bg-gray:focus,button.bg-gray:hover{
  background-color:#A3AAAE!important
}
.center{
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  margin-top: 20%;
}
.alert{ 
  background: linear-gradient(270deg, rgb(131, 131, 131), #bbb);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: auto;
  display: table-cell;
}
.revest{
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin-top: 7%;
  display: inline-block;
  
}

.innerDebounding{
  position: absolute;
  height: 45px;
  width: 45px;
  background: linear-gradient(270deg, #333, #fffffe);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  border-radius: 50%;
  margin-top: 12.5%;
  margin-left: 12.5%;
  display: block;
}
.pipe{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin-top: 6.5%;
  margin-left: 6.7%;
  display: inline-block;
}

.outerDebounding{
  position: absolute;
  height: 45px;
  width: 45px;
  background: linear-gradient(270deg, #333, #e7e78f);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
  border-radius: 50%;
  margin-top: 12.5%;
  margin-left: 12.5%;
  display: block;
}

.shearDamage{
  position: absolute;
  height: 65px;
  width: 65px;
  background: linear-gradient(270deg, rgb(119, 66, 66), #328132);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
  border-radius: 50%;
  margin-top: 4px;
  margin-left: -3px;
  display: block;
}

.radialCrack{
  position: absolute;
  height: 60px;
  width: 60px;
  background: linear-gradient(270deg, rgb(255, 0, 0), #fffffe);
  background-size: 5% 5%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: auto;
  display: block;
}

