.systemTable{
  top: 20%;
  left: 30px;
  position: fixed;
 }
 .systemTable2{
  top: 17.5%;
  left: 400px;
  position: fixed;
 }
 .systemTable3{
  top: 17.5%;
  left: 690px;
  position: fixed;
 }
.inputTable{
  color:black;
  width: auto;
  border: none;
  letter-spacing: .8px;
}
.right-table{
  top:29.3%;
  right: 15%;
  position: fixed;
}
/* index.html styles*/
:root{
  --fontcolor: white;
}
.login{
background-image: url("../img/background-login.jpg");
background-size: cover;
}

.form-group{
  color:var(--fontcolor);
}
