.systemTable{
  top: 20%;
  left: 30px;
  position: fixed;
 }
.inputTable{
  color:black;
  width: 50%;
  border: none;
  letter-spacing: .8px;
}
.right-table{
  top:30.5%;
  right: 5%;
  position: fixed;
}
/* index.html styles*/
:root{
  --fontcolor: white;
}
.login{
background-image: url("../img/background-login.jpg");
background-size: cover;
}
.background-main{
  background-color: rgba(142, 187, 54, 1);
}
.form-group{
  color:var(--fontcolor);
}
