<div ng-app="app" ng-controller="wellGeometry">
    <div class="systemTable" style="top:29.3%;">
      <table class="table table-bordered table-hover">
          <tbody>
            <tr>
              <th scope="row"class=>Open hole Diameter</th>
              <td align="center"><input type="text" ng-model="ohDiameter" class="inputTable"></td>
              <td align="center" ><b>m</b></td>
            </tr>
            <tr>
              <th scope="row">Hole vertical Depht</th>
              <td align="center"><input type="text" ng-model="hvDepht" class="inputTable"></td>
              <td align="center"><b>m</b></td>
            </tr>
            <tr>
              <th scope="row">Overburden Pressure Gradient</th>
              <td align="center"><input type="text" ng-model="opGradient" class="inputTable"></td>
              <td align="center"><b>kpa/m</b></td>
            </tr>
            <tr>
              <th scope="row">Formation Temperature Gradient</th>
              <td align="center"><input type="text" ng-model="ftGradient" class="inputTable"></td>
              <td align="center"><b>°C/m</b></td>
            </tr>
            <tr>
              <th scope="row">Biot poroelastic constant</th>
              <td align="center"><input type="text" ng-model="bpConstant" class="inputTable"></td>
              <td align="center"><b>Dimensionless</b></td>
            </tr>
            <tr>
              <th scope="row">Pore Pressure</th>
              <td align="center"><input type="text" ng-model="pPressure" class="inputTable"></td>
              <td align="center"><b>Pa</b></td>
            </tr>
            <tr>
              <th scope="row">Initial Mud Density</th>
              <td align="center"><input type="text" ng-model="imDensity" class="inputTable"></td>
              <td align="center"><b>𝑃𝑎/𝑚^3</b></td> 
            </tr>
            <tr>
              <th scope="row">Far Field Formation Radius</th>
              <td align="center"><input type="text" ng-model="fffRadius" class="inputTable"></td>
              <td align="center"><b>m</b></td>            
            </tr>
            <tr>
              <th scope="row"> Formation Poisson's Ratio</th>
              <td align="center"><input type="text" ng-model="fpRatio" class="inputTable"></td>
              <td align="center"><b>Dimensionless</b></td>            
            </tr>
          </tbody>
      </table>
      <div class=" right-table">
        <table class="table table-bordered table-hover">
          <tr>
              <th scope="row"> Young's Modulus Formation</th>
              <td align="center"><input type="text" ng-model="ymFormation"  class="inputTable"></td>
              <td align="center"><b>Pa</b></td>            
          </tr>
          <tr>
              <th scope="row"> Thermal Conductivity of formation</th>
              <td align="center"><input type="text"ng-model="thcFormation"  class="inputTable"></td>
              <td align="center"><b>𝑊⁄𝑚 𝐶^𝑜 </b></td>            
          </tr>
          <tr>
              <th scope="row"> Coefficient of linear expansion for Formation</th>
              <td align="center"><input type="text" ng-model="cleFormation"  class="inputTable"></td>
              <td align="center"><b>1⁄𝐶^𝑜 </b></td>            
          </tr>
          <tr>
              <th scope="row"> Tectonic Stress</th>
              <td align="center"><input type="text" ng-model="tStress"  class="inputTable"></td>
              <td align="center"><b>Pa</b></td>            
          </tr>
          <tr>
              <th scope="row"> Open Hole Radius</th>
              <td align="center"><input type="text" ng-model="ohRadius"  class="inputTable"></td>
              <td align="center"><b>m</b></td>            
          </tr>
          <tr>
              <th scope="row" class="bg-dark text-muted"> Well Formation Temperature</th>
              <td align="center" class="text-muted"><input type="text" ng-model="wfTemperature" class="inputTable"></td>
              <td align="center" class="bg-dark text-muted"><b>°C</b></td>            
          </tr>
        <tr>
              <th scope="row" class="bg-dark text-muted"> Vertical Stress</th>
              <td align="center" class="text-muted"><input type="text" ng-model="vStress"  class="inputTable"></td>
              <td align="center" class="bg-dark text-muted"><b>Pa</b></td>            
        </tr>
        <tr>
              <th scope="row" class="bg-dark text-muted"> Min Horizontal Stress</th>
              <td align="center" class="text-muted"><input type="text" ng-model="mihStress"  class="inputTable"></td>
              <td align="center" class="bg-dark text-muted"><b>Pa</b></td>            
        </tr>
        <tr>
              <th scope="row" class="bg-dark text-muted"> Max Horizontal Stress</th>
              <td align="center" class="text-muted"><input type="text" ng-model="mahStress" class="inputTable"></td>
              <td align="center" class="bg-dark text-muted"><b>Pa</b></td>            
        </tr>
        </table>
      </div>
  </div>

<footer class="toolbar toolbar-footer" style="position: fixed; left: 0; bottom: 0; width: 100%">
    <div class="toolbar-actions">
        <button class="btn pull-right" onclick="wellNext()" style="background-color: #417afe; color:#f2f2f7">
          Next
        </button>
    </div>
</footer>
</div>