<div  ng-controller="cementTipology">
  <div class="systemTable">
    <div class="">
            <select name="" id="">
                <option value=""> Cement Default 15.9ppg E = 4745MPa 77C</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
    </div>
    <br>
    <div class="">
        <table class="table table-bordered table-hover">
            <tbody>
              <tr>

                <th scope="row"class=>Cement density</th>
                <td align="center"><input type="number" ng-model="cDensity" class="inputTable"></td>
                <td align="center" ><b>𝐾𝑔/𝑚^3 </b></td>
                <th scope="row"class=>Density</th>
                <td align="center"><input type="text" class="inputTable"></td>
                <td align="center" ><b>kg/m3</b></td>
                <td align="center"><input type="text" class="inputTable"></td>

              </tr>
              <tr>
                <th scope="row">Uniaxial Compresive Strength</th>
                <td align="center"><input type="number" ng-model="ucStrength" class="inputTable"></td>
                <td align="center"><b>Pa</b></td>
              </tr>
              <tr>
                  <th scope="row">Tensile Strength</th>
                  <td align="center"><input type="number" ng-model="tStrength" class="inputTable"></td>
                  <td align="center"><b>Pa</b></td>
              </tr>
              <tr>
                <th scope="row">Cement Poisson's Ratio</th>
                <td align="center"><input type="number" ng-model="cpRatio" class="inputTable"></td>
                <td align="center"><b>Dimensionless</b></td>
              </tr>
              <tr>
                <th scope="row"> Young's Modulus Cement</th>
                <td align="center"><input type="number" ng-model="ymCement" class="inputTable"></td>
                <td align="center">Pa</b></td>
              </tr>
              <tr>
                <th scope="row">Thermal Conductivity of Cement</th>
                <td align="center"><input type="number" ng-model="tcCement" class="inputTable"></td>
                <td align="center"><b>𝑊⁄(𝑚 𝐶^𝑜 )</b></td>
              </tr>
              <tr>
                <th scope="row">Coefficient of linear expansion for Cement</th>
                <td align="center"><input type="number" ng-model="cleCement" class="inputTable"></td>
                <td align="center"><b>1⁄𝐶^𝑜 </b></td> 
              </tr>
              <tr>
                <th scope="row">Cohesion of the cement</th>
                <td align="center"><input type="number" ng-model="cCement" class="inputTable"></td>
                <td align="center"><b>Pa</b></td>          
              </tr>
              <tr>
                <th scope="row">Angle of Internal friction</th>
                <td align="center"><input type="number" ng-model="aiFriction" class="inputTable"></td>
                <td align="center"><b>radians</b></td>          
              </tr>
            </tbody>
        </table>
    </div>
</div>
<footer class="toolbar toolbar-footer" style="position: fixed; left: 0; bottom: 0; width: 100%">
    <div class="toolbar-actions">
        <button class="btn pull-right" onclick="cementNext()" style="background-color: #417afe; color:#f2f2f7">
          Next
        </button>
    </div>
</footer> 
</div>

